h1 {
  font-weight: bold;
  font-size: 32px;
}
.body-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: left;
  flex-wrap: wrap;
}
.body-container div {
  padding: 10px;
}
.body-box {
  flex-basis: 27%;
  position: relative;
  border-spacing: 10px;
}
.body-box p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.body-card {
  flex-basis: 27%;
  justify-content: space-between;
  border: 0.5px solid rgb(197, 195, 195);
  border-radius: 15px;
  border-spacing: 15px;
}
img {
  width: 250px;
  height: 200px;
}
.body-footer {
  background-color: rgb(79, 109, 20);
}
