.body-container {
  box-sizing: border-box;
  padding: 1.5em;
}

.body-container h1 {
  font-weight: 600;
  font-size: 2.3rem;
}


.body-properties {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22em , 1fr));
  grid-gap: 1em;
  justify-content: center;
}

@media only screen and (min-width: 1700px ) {
  .body-properties {
    grid-template-columns: 1fr 1fr 1fr;
  }
}