.header-container {
    height: 100%;
}

.header-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../common/images/newheader.jpg);
    background-size: cover;
    background-position: center;
    height: 89.5vh;
}

.overlay {
color: whitesmoke;
padding-top: 4em;
}

.overlay h1 {
    font-size: 200%;
    padding: 1em;
}

.overlay h3 {
    font-size: 150%;
    font-weight: 
}