

.header-container {
    background-image: linear-gradient(rgba(56, 169, 245, 0.4), rgba(0, 0, 0, 0.85)), url(../common/images/header.jpg);
    background-size: cover;
    background-position: center;
    height: 94vh;
}

.overlay {
color: whitesmoke;
padding-top: 4em;
}

.overlay h1 {
    font-size: 250%;
    font-weight: 600;
    padding: 1em;
}

.overlay h3 {
    font-size: 200%;
    font-weight: 350;
    padding: 0.5em
}
