.loader {
    position: absolute;
    border: 16px solid rgba(240, 240, 240, 0.9);
    border-top: 16px solid rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    width: 8em;
    height: 8em;
    animation: spin 1.7s linear infinite;
}
.loader-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45vh;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}