
.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    box-sizing: border-box;
    
}

.navigation-title h1 {
    color: white;
    font-weight: 500;
    font-size: 50
}

.navigation_items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation_items a {
    text-decoration: none;
    color: whitesmoke;
    padding: 1em;
}

.navigation-inputbox {
    justify-self: center;
    align-self: center

}

.navigation_items a:hover,
.navigation_items a:active {
    color: red;
}

@media only screen and (max-width: 500px) {
    .navigation-title {
        display: none;
    }
    .navigation_items {
        height: 50px;
    }
}
  