.propertyPage-container img {
    height: 90vh;
    width: 100%;
}

.propertyPage-body {
    display: flex;
    box-sizing: border-box;
    padding: 1.5em;
}

.propertyPage-text {
    flex: 1;
    padding: 1em;
    height: 20em
}

.propertyPage-Map {
    flex: 1;
}

@media only screen and (max-width: 500px) {
    .propertyPage-container img {
        height: 50vh;
    }
    
    .propertyPage-body {
        flex-direction: column;
    }
}