h1 {
  padding: 1em;
  size: 50px;
}
.body-container {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-around;
  align-items: left;
  flex-wrap: wrap;
}
.body-container div {
  border: 1px solid gray;
  padding: 10px;
}
.body-box {
  flex: 1;
  flex-basis: 25%;
  position: relative;
  border-spacing: 10px;
}
.body-box p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
img {
  width: 250px;
  height: 200px;
}
.body-footer {
  background-color: rgb(79, 109, 20);
}
