* {
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
   line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
   text-align: center
}
.main-container {
   margin: 4rem 2.5rem;
}